{# Dywee\BlogBundle\Resources\View\Blog\footer.html.twig #}

{% if articles|length() > 0  %}
    <ul class="list-unstyled">
        {% for article in articles %}
            <li><a href="{{ path('dywee_blog_view', {'data': article.seoUrl}) }}">{{ article.title|raw }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Il n'y a pas encore d'articles, restez à l'écoute...</p>
{% endif %}