{%  extends "DyweeBlogBundle::admin.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-defaut">
                <div class="box-header with-border">
                    <div class="box-tools">
                        <a href="{{ path('article_add') }}" class="btn btn-success btn-box-tool"><i class="fa fa-plus"></i> Ajouter</a>
                    </div>
                    <h2 class="box-title">Liste des articles</h2>
                </div>
                {% include 'DyweeBlogBundle:Article:miniTable.html.twig' %}
                <div class="box-body">
                    <p><a href="{{ path('article_add') }}" class="btn btn-default btn-block"><i class="fa fa-plus"></i> Ajouter</a></p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}